<template>
  <header class="header">
    <b-container>
      <b-row align-v="center">
        <b-col cols="auto">
          <a href="/" class="header__logo">
            <img src="@/assets/images/logo-min.svg" />
          </a>
        </b-col>
        <b-col>
          <b-row align-h="start">
            <b-col cols="auto">
              <router-link :to="{ name: 'vacancies' }" class="header__nav"
                >Список вакансий</router-link
              ></b-col
            >
            <b-col cols="auto">
              <router-link :to="{ name: 'responses' }" class="header__nav"
                >Отклики</router-link
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
};
</script>

<style lang="less" scoped>
.header {
  padding: 20px 0;
  background-color: #000;

  &__logo {
    display: inline-block;
  }

  &__nav {
    color: #fff;
    transition: opacity 0.3s;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }

    &.router-link-active {
      opacity: 0.7;

      &:hover {
        cursor: default;
      }
    }
  }
}
</style>
