<template>
  <div class="page">
    <div class="page__inner">
      <h2 class="page__title">Вход</h2>
      <b-form @submit="onSubmit">
        <b-form-input
          v-model="form.email"
          type="email"
          placeholder="Email"
          required
        ></b-form-input>
        <b-form-input
          v-model="form.password"
          type="password"
          placeholder="Пароль"
          required
        ></b-form-input>

        <b-button type="submit" variant="danger" size="lg" block
          >Войти</b-button
        >
      </b-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "AdminPage",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      const form = new FormData();

      for (const [key, value] of Object.entries(this.form)) {
          form.append(key, value);
      }
      axios.post('https://whispering-inlet-21436.herokuapp.com/login/', form, {
        withCredentials: true
      })
      .then(() => {
        this.$router.push('/responses');
      });
    },
  },
};
</script>

<style lang="less" scoped>
.page {
  padding-top: 100px;

  &__title {
    margin-bottom: 30px;
  }
  &__inner {
    width: 350px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px;
    text-align: center;
  }
}
</style>
