<template>
  <div>
    <div class="hero">
      <b-container>
        <img src="@/assets/images/logo.svg" class="hero__logo" />

        <div class="hero__title">
          <h1>Вакансии</h1>
        </div>
      </b-container>
    </div>
    <CardsList :list="cardsList" />
  </div>
</template>

<script>
import CardsList from "@/components/CardsList";
import axios from 'axios';
export default {
  name: "HomePage",
  components: {
    CardsList,
  },
  data() {
    return {
      cardsList: null
    };
  },
  mounted() {
    axios
      .get('https://whispering-inlet-21436.herokuapp.com/vacancies?format=json')
      .then(response => this.cardsList = response.data);
  },
};
</script>

<style lang="less" scoped>
.hero {
  height: 360px;
  background-color: #07111a;
  background-image: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 80px;
  position: relative;
  margin-bottom: 100px;

  &__logo {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }

  &__title {
    position: absolute;
    bottom: -40px;
    background-color: #c60804;
    color: #fff;
    padding: 15px 30px;
    border-radius: 0.25rem;
  }

  @media screen and (max-width: 576px) {
    height: 260px;
    margin-bottom: 60px;

    &__title {
      bottom: -35px;

      h1 {
        font-size: 26px;
      }
    }
  }
}
</style>
