<template>
  <div class="page">
    <AdminAppHeader />
    <div class="page__inner">
      <b-container>
        <h1 class="mb-4">Отклики</h1>
        <b-table :items="list" :fields="fields" stacked="lg">
          <template #cell(email)="data">
            <a :href="`mailto:${data.value}`">{{ data.value }}</a>
          </template>
          <template #cell(tel)="data">
            <a :href="`tel:${data.value}`">{{ data.value }}</a>
          </template>
          <template #cell(url)="data">
            <a :href="data.value" v-if="data.value" target="_blank"
              ><b-icon icon="eye" font-scale="1.4"></b-icon
            ></a>
          </template>
          <template #cell(file)="data">
            <a :href="data.value" v-if="data.value" target="_blank"
              ><b-icon icon="eye" font-scale="1.4"></b-icon
            ></a>
          </template>
          <template #cell(action)="data">
            <b-button-group size="sm">
              <b-button
                variant="success"
                v-b-tooltip.hover
                title="Пригласить на собеседование"
                @click="showModal(M_TYPE_INVITE, data.item.id)"
              >
                <b-icon icon="chat-dots"></b-icon
              ></b-button>
              <b-button
                variant="info"
                v-b-tooltip.hover
                title="Выслать тестовое"
                @click="showModal(M_TYPE_TEST, data.item.id)"
                ><b-icon icon="file-earmark"></b-icon
              ></b-button>
              <b-button
                variant="warning"
                v-b-tooltip.hover
                title="Отказать"
                @click="showModal(M_TYPE_REFUSE, data.item.id)"
                ><b-icon icon="x-circle"></b-icon
              ></b-button>
            </b-button-group>
          </template>
        </b-table>
      </b-container>
    </div>

    <!-- Модалка -->
    <b-modal ref="modal" hide-footer hide-header>
      <div v-if="modalType === M_TYPE_INVITE">
        <div class="modal__title">Приглашение на собеседование</div>
        <b-form @submit="onSubmitInvite">
          <b-form-textarea
            v-model="form.text"
            placeholder="Текст письма"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
          <b-button type="submit" variant="danger">Отправить</b-button>
        </b-form>
      </div>

      <div v-if="modalType === M_TYPE_TEST">
        <div class="modal__title">Отправка тестового</div>
        <b-form @submit="onSubmitTest">
          <b-form-textarea
            v-model="form.text"
            placeholder="Текст письма"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
          <b-form-file
            v-model="form.file"
            placeholder="Файл"
            browse-text="Загрузить"
            class="mb-3"
          ></b-form-file>
          <b-button type="submit" variant="danger">Отправить</b-button>
        </b-form>
      </div>

      <div v-if="modalType === M_TYPE_REFUSE">
        <div class="modal__title">Отправка отказа</div>
        <b-form @submit="onSubmitRefuse">
          <b-form-textarea
            v-model="form.text"
            placeholder="Текст письма"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
          <b-button type="submit" variant="danger">Отправить</b-button>
        </b-form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import AdminAppHeader from "@/components/layout/AdminAppHeader";

const M_TYPE_INVITE = 1;
const M_TYPE_TEST = 2;
const M_TYPE_REFUSE = 3;

const initialForm = () => {
  return {
    text: "",
    file: null,
  };
};

export default {
  name: "ResponsesPage",
  components: {
    AdminAppHeader,
  },
  data() {
    return {
      list: null,
      fields: [
        {
          key: "position",
          label: "Должность",
          sortable: true,
        },
        {
          key: "name",
          label: "Имя",
          sortable: true,
        },
        {
          key: "email",
          label: "Email",
        },
        {
          key: "tel",
          label: "Телефон",
        },
        {
          key: "url",
          label: "Ссылка",
        },
        {
          key: "file",
          label: "Файл",
        },
        {
          key: "status",
          label: "Статус",
        },
        {
          key: "action",
          label: "Действия",
        },
      ],
      modalType: null,
      currentId: null,
      M_TYPE_INVITE,
      M_TYPE_TEST,
      M_TYPE_REFUSE,
      form: initialForm(),
    };
  },
  mounted() {
    axios
      .get('https://whispering-inlet-21436.herokuapp.com/resumes?format=json')
      .then(response => this.list = response.data);
  },
  methods: {
    showModal(type, id) {
      this.currentId = id;
      this.modalType = type;
      this.$refs["modal"].show();
    },
    onSubmitInvite(e) {
      e.preventDefault();
      const form = new FormData();

      form.append('text', this.form.text);
      form.append('id', this.currentId);
      axios.post('https://whispering-inlet-21436.herokuapp.com/invite/?format=json', form)
        .then(() => console.log('success'))
        .catch(err => console.error(err));
    },
    onSubmitTest(e) {
      e.preventDefault();
      const form = new FormData();

      form.append('text', this.form.text);
      form.append('file', this.form.file);
      form.append('id', this.currentId);
      axios.post('https://whispering-inlet-21436.herokuapp.com/send-test/?format=json', {
          ...this.form,
          id: this.currentId,
        })
        .then(() => console.log('success'))
        .catch(err => console.error(err));
    },
    onSubmitRefuse(e) {
      e.preventDefault();
      const form = new FormData();

      form.append('text', this.form.text);
      form.append('id', this.currentId);
      axios.post('https://whispering-inlet-21436.herokuapp.com/refuse/?format=json', {
          text: this.form.text,
          id: this.currentId,
        })
        .then(() => console.log('success'))
        .catch(err => console.error(err));
    },
  },
};
</script>

<style lang="less" scoped>
.page {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.modal {
  &__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
</style>
