<template>
  <main id="app" class="app">
    <div class="app__content">
      <router-view />
    </div>
    <AppFooter />
  </main>
</template>

<script>
import AppFooter from "@/components/layout/AppFooter";
export default {
  name: "App",
  components: {
    AppFooter,
  },
};
</script>

<style lang="less" src="@/less/main.less"></style>
<style lang="less" scoped>
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5fafd;
  &__content {
    flex: 1;
  }
}
</style>
